@charset "UTF-8";

/* ページタイトルのスタイル */
.title {
	background-color: #e9e7e7;
	/* 背景色を水色に設定 */
	display: flex;
	justify-content: center;
	/* 水平方向の中央揃え */
	align-items: center;
	/* 垂直方向の中央揃え */
	height: 70px;
	/*	 タイトル領域を画面全体の高さに設定 */
	margin: 20px 0;
	/* 余白を設定 */
	text-align: center;
	/* テキストを中央揃え */
}

h2 {
	font-size: 26px;
	/* テキストサイズ */
	line-height: 1.5;
	/* 行間の調整 */
}

.subtitle {
	display: block;
	/* 改行させる */
	font-size: 0.7em;
	/* テキストサイズ */
}

/* 見出し */
h3{
   margin-top: 20px;
   margin-bottom: 10px;
   text-align: center;
}

h4{
	margin-top: 20px;
	margin-bottom: 10px;
	text-align: left;
}

/* コンテナブロック */
.container {
  width: 40%; /* 固定幅または必要に応じて調整 */
  margin: 20px auto; /* 上下のマージンを追加し、中央に配置 */
  padding: 20px; /* 内側のパディングを追加 */
  background-color: #fff; /* 背景色を追加 */
  border-radius: 5px; /* 角を丸くする */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* シャドウを追加 */
}

/* ボタン */
.btn {
  display: flex; /* フレックスボックスを使用 */
  justify-content: center;
  margin-top: 20px; /* 上部のスペースを追加 */
}



/* テーブル */
.table_design08 {
  width: 100%;
  border-collapse: collapse;
}

.table_design08 th,
.table_design08 td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.table_design08 th {
  background-color: #f2f2f2;
}

.inline-form {
  display: inline;
}

.deleted-message {
  color: tomato;
  text-align: center;
}

@media screen and (max-width: 787px) {
  .table_design08 {
    text-align: left;
  }
  .table_design08 thead {
    display:none;
  }
  .table_design08 th, .table_design08 td {
    display: block;
    border: 0;
    border-bottom: 2px solid #e6f1f6;
  }
  .table_design08 tbody th{
    background: #f2f2f2;
  }
  .table_design08 td::before{
    content: attr(data-label);
    font-weight: bold;
    display: inline-block;
    width: 20%;
    min-width: 4em;
  }
  .deleted-message {
    color: tomato;
    text-align: center;
  }
}




form {
  display: inline-block; /* フォームを中央に寄せる */
  text-align: left; /* フォーム内のテキストを左寄せ */
}

table {
  margin: 0 auto; /* 表を中央に寄せる */
  border-spacing: 20px 0;
}

th,
td {
  text-align: left; /* 表のセル内のテキストを左寄せ */
}

div {
  padding: 20px 0 0 0;
  text-align: center;
}



