h1 {
  text-align: center;
}

.box2 {
  width: 50%;
  padding: 0.5em 1em;
  margin: 50px auto;
  font-weight: bold;
  color: #ec6d4e; /*文字色*/
  background: #fff;
  border: solid 3px grey; /*線*/
  border-radius: 10px; /*角の丸み*/
}

.box2 p {
  margin: 0;
  padding: 0;
}

button {
  display: block;
  margin: auto;
}

.button99 {
  display: flex;
  justify-content: center;
}

.selectbox-3 {
  display: inline-flex;
  align-items: center;
  position: relative;
}

.selectbox-3::after {
  position: absolute;
  right: 15px;
  width: 10px;
  height: 7px;
  background-color: #535353;
  clip-path: polygon(0 0, 100% 0, 50% 100%);
  content: '';
  pointer-events: none;
}

.selectbox-3 select {
  appearance: none;
  min-width: 230px;
  height: 2.8em;
  padding: 0.4em calc(0.8em + 30px) 0.4em 0.8em;
  border: 1px solid #d0d0d0;
  border-radius: 3px;
  background-color: #fff;
  color: #333333;
  font-size: 1em;
  cursor: pointer;
}
