@charset "UTF-8";
    body {
       width: 100%;
       margin: auto;
/*       font-family: Arial, sans-serif;*/
/*        margin: 20px;*/
    }
    h1 {
      text-align: center;
    }
/*    formクラスをつけて変更*/
    .grouping {
      width: 35%;
      margin: auto;
      margin-top: 3%;
      padding: 2% 2%;
      background-color:bisque
    }
/*    form {*/
/*      width: 35%;*/
/*      margin: auto;*/
/*      margin-top: 3%;*/
/*      padding: 2% 2%;*/
/*      background-color:bisque*/
/*    }*/
    .form-group {
      width: 100%;
      display: flex;
      margin-bottom: 15px;
    }
    .form-group label {
       width: 45%;
       display: block;
       border-color: coral;
       margin-bottom: 5px;
       font-size: 15px;
       font-weight: bold;
    }
    label {
      padding: 2%;
      color:brown;
    }
    .form-group input {
        display: block;
        width: 50%;
        height: 28px;
        box-sizing: border-box;
    }
    .reverse-label-textarea {
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column-reverse;
    }
    .reverse-label-textarea label {
        order: 2;
    }
    .reverse-label-textarea textarea {
      width: 100%;
      order: 1;
    }
    .form-group-button {
      width: 100%;
      margin: auto;
      margin: 0% 3%;
      text-align: center;
    }
    .form-group-button button {
      width: 20%;
/*      margin-top: 5%;*/
      margin: 6% 3% 3% 3%;
      padding: 0.5rem 0.5rem;
      background-color: #ec6d4e
      
/*      font-weight: bold;*/
/*      border: 2px solid #98fb98;*/
/*      background: #98fb98;*/
     
/*      color: chocolate;*/
    }
/*    .form-group-button button:hover {*/
/*      margin-top: 10px;*/
/*      padding: 10px 20px;*/
/*      color: #fff;*/
/*      border: none;*/
/*      cursor: pointer;*/
/*      border-radius: 5px;*/
/*     }*/
/*    .form-group-button,*/
/*    .back-button {*/
/*      display: flex;*/
/*      width: 100%;*/
/*      margin: auto;*/
/*      text-align: center;*/
/*        padding: 10px 20px;*/
/*        color: #fff;*/
/*        border: none;*/
/*        cursor: pointer;*/
/*        border-radius: 5px;*/
/*    }*/
/*    .form-group-button:hover,*/
/*    .back-button:hover {*/
/*        margin-top: 10px;*/
/*        padding: 10px 20px;*/
/*        color: #fff;*/
/*        border: none;*/
/*        cursor: pointer;*/
/*        border-radius: 5px;*/
/*   }*/

