@charset "UTF-8";
body {
  width: 100%;
}
h1 {
  text-align: center;
  margin: auto;
}
.confirm-content {
    width: 40%;
    height: 200px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

.confirm-content p {
    margin: 10px 0;
    color: #0056b3;
}

.confirm-content strong {
    font-weight: bold;
}

/*.form-group-button {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    margin: 20px;*/
/* background-color: #ec6d4e;*/
/*}*/
.form-group-button-second {
  text-align: center;
  margin: auto;
  margin-top: -4%;
/*  background-color: #ec6d4e;*/
  }
.button1 {
  background-color: #ec6d4e;
}


.button1 back-buttonbutton {
  text-align: center;
  margin: auto;
  padding: 10px 20px;
  background-color: #ec6d4e;
/*  background-color: #007bff;*/
/*  color: white;*/
  border: none;
  cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.back-button {
    background-color: #6c757d;
}

.back-button:hover {
    background-color: #5a6268;
}
