@charset "UTF-8";

body {    
/*2025/3/13 清水　flexがあると横並びになるので削除*/
/*    display: flex;*/
    font-family: Arial, sans-serif;
    height: 100vh; /* ビューポート全体の高さに固定 */
    margin: 0;
    overflow: hidden; /* 不要なスクロールを防止 */
}


/* ログアウト画面用のスタイル */
.completion-container {
    display: flex; /* フレックスボックスを使用 */
    flex-direction: column; /* 垂直方向に要素を並べる */
    justify-content: center; /* 縦方向の中央揃え */
    align-items: center; /* 横方向の中央揃え */
    height: 100%; /* ビューポート全体の高さを確保 */
    text-align: center; /* テキストを中央揃え */
	padding: 10px; /* 余白を削減 */
	box-sizing: border-box; /* パディングを含めた計算に */
}

.completion-container h1 {
    margin-bottom: 30px; /* ボタンとの間に余白を追加 */
}

