@charset "UTF-8";
html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
header {
  width: 100%;
}
footer {
  position: sticky;
  top: 100vh;
}

.container{
	margin:0 30%;
	border-radius: 25px;
	background-color: white;
	text-align: center;
	color: #ec6d4e;
}
.welcome-message{
	margin:0 150px;
	padding:50px 10px;
	border:2px solid #ec6d4e;
	border-radius: 25px;
	margin-bottom: 40px;
}
h2{
	color: #ec6d4e;
}
h1{
	color: #ec6d4e;
	margin:20px 35%;
	font-size: 24px;
}
/*会員情報・マイチケット*/
.wrapper{
	display:flex;
	justify-content: center; /* 中央寄せ */
	gap: 20px; /* ボタン間のスペース */
}
table{
	margin: 0 auto;
}
.button2{
	padding:10px 30px;
	border-radius: 35px;
}