@charset "UTF-8";
html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
header {
  width: 100%;
}
footer {
  position: sticky;
  top: 100vh;
}

.container{
	margin:0 30%;
	border-radius: 25px;
	background-color: white;
	text-align: center;
	color: #ec6d4e;
}
.welcome-message{
	margin:20px;
}
h2{
	color: #ec6d4e;
}
h1{
	color: white;
	background-color: #ec6d4e;
	margin:20px 35%;
	padding:20px 0;
	border-radius: 25px;
}
/*会員情報・マイチケット*/
.wrapper{
	display:flex;
	justify-content: center; /* 中央寄せ */
	gap: 20px; /* ボタン間のスペース */
}