@charset "UTF-8";
.back-second{
  text-align: center;
  text-decoration: none; 
  width: 8%;
  margin: auto;
  margin-top: 5%;
  padding: 0.5rem 0.5rem;
  font-weight: bold;
  border: 2px solid #98fb98;
  background: #98fb98;
  color: black;
  transition: 0.5s;
}
a {
  text-decoration: none;
  color: brown;
}
/*.sub {*/
/*  width: 40%;*/
/*}*/
body {
  width: 100%;
}
h1.ticket {
  width: 40%;
  margin: auto;
  font-weight:bold;
  text-align: left;
  color: brown;
  background-color: azure;
  border: 1px solid #aaa;
  border-radius: 15px;
  padding: 1% 3%;
  margin-top: 3%;
  margin-bottom: 1%;
}

/*.content p {*/
/*  width: 40%;*/
/*  margin: auto;*/
/*  font-weight:bold;*/
/*  text-align: left;*/
/*  color: brown;*/
/*  background-color: azure;*/
/*  border: 1px solid #aaa;*/
/*  border-radius: 30px;*/
/*  padding: 6%  3%;*/
/*}*/

.content  {
  width: 40%;
  margin: auto;
  margin-top: 1%;
  font-weight:bold;
  text-align: left;
  color: brown;
  background-color: azure;
/*  border: 1px solid #aaa;*/
  border-radius: 30px;
  padding: 2%  3%;
  
}