@charset "UTF-8";
.back-one {
  text-align: center;
/*  width: 8%;*/
/*  margin: auto;*/
/*  padding: 0.7rem 0.7rem;*/
/*  font-weight: bold;*/
/*  border: 2px solid #98fb98;*/
/*  background: #98fb98;*/
/*  color: black;*/
/*  transition: 0.5s;*/
}
a {
  text-decoration: none;
  color: brown;
}
body {
  width: 100%;
}
h1 {
/*  font-size: 20px;*/
  text-align: center;
}
ul.news {
  width: 40%;
  margin: auto;
  padding: 3%;
}
li.news-content {
  color: brown;
  list-style: none;
  text-align: left;
  background-color: azure;
  border: 1px solid #aaa;
  border-radius: 15px;
  padding: 3%;
  margin-bottom: 5%;
  }
  .link-button {
    width: 50%;
    font-size: 18px;
    text-align: left;
    margin-left: 5%;
/*    padding: 2%;*/
  }