@charset "UTF-8";
/*鐘ケ江*/
html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
header {
  width: 100%;
}
footer {
  position: sticky;
  top: 100vh;
}
/*以下CSS中身*/
main{
	padding:30px;
	text-align: center;
	background-color: white;
	margin:0 35%;
	border-radius: 25px;
	color:	#ec6d4e;
}
h1{
	font-size: 24px;
	padding: 20px 0;
	color:#ec6d4e;
}
.button2{
	padding:15px 25px;
	margin-bottom:25px;
	border-radius: 35px;
}