@charset "UTF-8";

body {
	/*2025/3/13 清水　flexがあると横並びになるので削除*/
	/*    display: flex;*/
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	/* 横スクロールを防止 */
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 100px;  /* 上の余白を減らして全体を上に寄せます */
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;
    min-height: 80vh;  /* ビューポートの80%に設定し、残りの部分にボタンが来るようにする */
}

/* 選手詳細 */
.player-detail {
	display: flex;
	justify-content: center;
	/* 子要素を中央に配置 */
	align-items: center;
	/* 垂直方向の中央揃え */
	gap: 20px;
	/* 要素間のスペース */
}

/* サムネイル */
.player-thumbnail {
	align-self: center;
	flex: 0 0 auto;/* サイズの固定 */
	margin-right: 30px;/* 左寄せ */
}


.player-thumbnail img {
	width: 300px;
	height: 300px;
	border-radius: 10px;
	object-fit: cover;
}

/* 選手情報 */
.player-info {
	flex: 2;
	text-align: left;
}
/* 選手詳細タイトル */
.player-title {
	text-align: center; /* テキストを中央揃え */
	margin-bottom: 20px; /* 下の要素とのスペースを追加 */
	color: white; /* タイトルの文字色 */
	width: 100%; /* タイトルの横幅を親要素いっぱいに設定 */
	font-size: 25px; 
}

.player-info p {
    margin: 10px 0; /* 行間を広げる（上下余白を増やす） */
    color: white;
    font-size: 16px; /* 文字サイズを少し大きく設定 */
    font-weight: bold; /* 文字を少し太くする */
    line-height: 1.2; /* 行間を広げる（文字高さの比率） */
}

.back {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0px;
	position: relative;
	bottom: 10;
}
